*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input{
    text-indent: 10px
}
.main{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.main .crud_create_box{
width: 50%;
height: 400px;
background-color: white;   
border-radius: 10px; 
margin-inline: 40px;
overflow: auto;
}
table {
    width: 70%;
    border-radius: 10px;
    background-color: rgb(56, 52, 52);
}
.main .crud_create_box .header{
    display: flex;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid gray;
    justify-content: center;
    align-items: center;
}

table,
tr,
th,
td {
    border-collapse: collapse;
    text-align: center;
}
tr{
    border: 1px solid rgb(202, 189, 189);
}
th {
    height: 50px;
    color: rgb(211, 205, 205);
    font-weight: 700;
    font-size: 16px;
}

td {
    height: 40px;
    font-weight: 700;
    font-size: 16px;
    background-color: white;
    color: rgb(105, 101, 101);
    border-inline: 1px solid rgb(202, 189, 189);
}

form{
    text-align: center;
}
.name{
 width: 100%;
 height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.inputname{
    width: 40%;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
}
.contactinfo{
    width: 100%;
    height: 100px;
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 10px;   
}
.age , .contact, .email{
    width: 40%;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
}
.age{
    width:15%;
}
.inputgender{
    width: 20px;
    height: 20px;
}
label{
    margin-left: 5px;
    font-size: 18px;
    font-weight: 700;
}
button{
    margin-top: 40px;
    width: 30%;
    height: 40px;
    outline: none;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 700;
    background-color: black;
    color: white;
    cursor: pointer;
}
.crud_update_box{
    width: 50%;
height: 400px;
background-color: white;   
border-radius: 10px; 
margin-inline: 40px;
overflow: auto;

}
.updatebox{
    width: 100vw;
    height: 150vh;
    background-color: rgba(102, 107, 107, 0.5);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.delete, .update{
    width: 70px;
    height: 30px;
    font-size: 12px;
}
.hide{
display: none;
}